body {
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 900;
    font-size: 50px;
}


section {
    margin-bottom: 100px;
}

.flexible-container {
    display: flex;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.dream-big div {
    width: 50%;
    padding-right: 5%;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    margin-left: 0;

}

.experience-item {
    width: 40%;
    margin: 5%;
    padding: 15px 25px;
    box-shadow: 5px 10px 40px grey;

}

.name-front {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
}

#full-stuck {
    border-left: 7px solid orange;
}

#baby-web {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}